In [1]:
#imports
import pandas as pd
import numpy as np
import seaborn as sns
import datetime
from datetime import datetime as dt
from matplotlib import pyplot as plt

In [19]:
#reading in the dataset, enter in the pathname to the datafile
df = pd.read_csv('weather_data.csv')

In [32]:
#inspecting data types and formats
display(df.head())
df.info()

,state,dt,temp_C,humid_pct,precip_mm,windspeed_kmh,temp_F
0,San Diego,2024-01-14 21:12:46,10.683001,41.195754,4.020119,8.233540,51.229402
1,San Diego,2024-05-17 15:22:10,8.734140,58.319107,9.111623,27.715161,47.721452
2,San Diego,2024-05-11 09:30:59,11.632436,38.820175,4.607511,28.732951,52.938385
3,Philadelphia,2024-02-26 17:32:39,-8.628976,54.074474,3.183720,26.367303,16.467843
4,San Antonio,2024-04-29 13:23:51,39.808213,72.899908,9.598282,29.898622,103.654783

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 7 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   state          1000000 non-null  category
 1   dt             1000000 non-null  datetime64[ns]
 2   temp_C         1000000 non-null  float64
 3   humid_pct      1000000 non-null  float64
 4   precip_mm      1000000 non-null  float64
 5   windspeed_kmh  1000000 non-null  float64
 6   temp_F         1000000 non-null  float64
dtypes: category(1), datetime64[ns](1), float64(5)
memory usage: 46.7 MB

In [27]:
#rename columns woth dictionary

df = df.rename(columns = {'Temperature_C':'temp_C', 'Location':'state', 'Date_Time':'dt', 'Humidity_pct':'humid_pct',
                     'Precipitation_mm':'precip_mm','Wind_Speed_kmh':'windspeed_kmh'})

In [29]:
#changing into more suitable data types and fixing datetime if needed
#change data types by using a dictionary

df = df.astype({'state': 'category'})
df['dt'] = pd.to_datetime(df['dt'])

In [31]:
#transforming columns

df['temp_F'] = df['temp_C'] * (9/5) + 32

In [35]:
#rounding to N sf.

N = 3
df[['temp_C', 'temp_F']].applymap(lambda x: round(x, N - int(np.floor(np.log10(abs(x))))))

        temp_C  temp_F
0       10.680   51.23
1        8.734   47.72
2       11.630   52.94
3       -8.629   16.47
4       39.810  103.70
...        ...     ...
999995  23.420   74.15
999996   6.759   44.17
999997  15.660   60.20
999998  19.000   66.20
999999  10.730   51.31

[1000000 rows x 2 columns]